{% extends 'base.html'%} {% block content %}

<div class="container mt-3">
  <h5>Preferred Currency</h5>
  {% include 'components/_messages.html' %}
  <form action="{% url 'preferences'%}" method="post">
    {% csrf_token %}
    <div class="input-group">
      <select name="currency" class="custom-select" id="inputGroupSelect04">
        {% if user_preferences.currency%}
        <option name="currency" selected value="{{user_preferences.currency}}"
          >{{user_preferences.currency}}</option
        >
        {% endif %} 
        
        {% for currency in currencies %}

        <option name="currency" value="{{currency.name}} - {{currency.value}}"
          >{{currency.name}} - {{currency.value}}
        </option>

        {% endfor %}
      </select>
      <div class="input-group-append">
        <input class="btn btn-outline-secondary" type="submit" value="Save" />
      </div>
    </div>
  </form>
</div>

<hr />

{% endblock %}
