{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'expenses'%}">Expenses</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Edit Expense
                    </li>
                </ol>
            </nav>
        </div>

        <div class="col-md-2">
            <a href="{% url 'expense-delete' expense.id %}" class="btn btn-danger btn-sm">Delete</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form action="{% url 'expense-edit' expense.id %}" method="post">
                {% include 'components/_messages.html'%} {% csrf_token %}
                <div class="form-group">
                    <label for="">Amount</label>
                    <input type="text" class="form-control form-control-sm" name="amount" value="{{values.amount}}" />
                </div>
                <div class="form-group">
                    <label for="">Description</label>
                    <input type="text" class="form-control form-control-sm" name="description"
                        value="{{values.description}}" />
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <select class="form-control" name="category">
                        <option selected name="category" value="{{values.category}}">{{values.category}}</option>
                        {% for category in categories%}
                        <option name="category" value="{{category.name}}">{{category.name}}</option>

                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Date of Expense</label>
                    <input type="date" value="{{values.date |date:'Y-m-d' }}" class="form-control form-control-sm"
                        name="expense_date" />
                </div>

                <input type="submit" value="Save" class="btn btn-primary btn-primary-sm" />
            </form>
        </div>
    </div>
</div>

{% endblock %}