{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Register for a free account</h4>
        </div>
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}

          {% include 'components/_messages.html'   %}

          <div class="form-group">
            <input
              type="text"
              name="username"
              placeholder="username"
              id="usernameField"
              class="form-control form-control-sm"
              value="{{fieldValues.username}}"
            />
          </div>
          <div class="invalid_feedback invalid-feedback" style="display:none; margin-top: -15px;">
          </div>
          <p class="text-sm text-success usernameSuccessOutput"></p>
          <div class="form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control form-control-sm"
              id="emailField"
              value="{{fieldValues.email}}"
            />
          </div>
          <p class="text-sm text-success emailSuccessOutput"></p>
          <div class="emailFeedBackArea invalid-feedback" style="display:none; margin-top: -15px;">
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
            <small class="float-right py-3 showPasswordToggle">SHOW</small>
          </div>
          <input type="submit" value="Register" class="btn btn-block btn-primary submit-btn" />
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}
