{% extends 'base_auth.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">


            <div class="card-body">
                <div class="card-title py-3">
                    <h4>Please enter your email to get reset link</h4>
                </div>
                <form action="{% url 'request-reset-link' %}" method="post">
                    {% csrf_token %}

                    {% include 'components/_messages.html' %}


                    <div class="invalid_feedback invalid-feedback" style="display:none; margin-top: -15px;">
                    </div>
                    <p class="text-sm text-success usernameSuccessOutput"></p>
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email" class="form-control form-control-sm"
                            id="emailField" value="{{value.email}}" />
                    </div>

                    <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />
                </form>

                <div class="container mt-2">
                    <span class="text-lead lead">Dont have an account?</span><a href="{% url 'register' %}"> Register</a><br>
                    <span class="text-lead lead">have an account?</span><a href="{% url 'login' %}"> Login</a>
                </div>
                  
            </div>

        </div>
    </div>
</div>
<div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}